.main-box-body {
  h1 {
    display: none;
  }
  #project-title, h2.table-header{
    margin: 1%;
  }
  #header {
    position: relative;
    margin: 20px 0;
  }
  .show-only-on-print {
    display: none;
  }
  #gizra-logo {
    visibility: hidden;
    font-family: Abril Fatface;
    margin: -40px -10px 0 0;
    float: right;
    font-size: 4.5em;
  }
  #project-title {
    display: inline;
    padding: 0;
  }
  #search-filter {
    margin: 25px 0;
  }
  span.select2-selection--single {
    border-radius: 3px;
    background-clip: padding-box;
    border-color: #e7ebee;
    color: #555;
    box-shadow: none;
    font-size: 13px;
    padding: 3px 12px;
    height: 34px;

    .select2-selection__arrow {
      margin-top: 3px;
    }
  }
}

table.table-hover {
  td:nth-child(1),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    width: 15%;
  }

  td:nth-child(2) {
    width: 40%;
  }
}

@media print {
  @page {
    size: auto;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #search-filter, #page-header, #nav-col, #footer-copyright, .sticky-header {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
  .show-only-on-print {
    display: block !important;
  }
  #gizra-logo {
    visibility: visible !important;
    color: #e27058 !important;
  }
  #header {
    position: relative;
  }
  .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9 !important;
  }
  .well {
    border: none !important;
  }
}

