/* Variables */
/* line 7, ../sass/style.scss */
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 15, ../sass/style.scss */
body {
  font-size: 18px;
  font-family: 'Roboto Condensed', arial, sans-serif;
  background-color: transparent;
}

/* line 21, ../sass/style.scss */
h4,
body {
  font-weight: lighter;
}

/* line 26, ../sass/style.scss */
.light-border, .clear-btn {
  border: 1px solid;
  border-color: #b1aba4;
}

/* line 31, ../sass/style.scss */
.soft-shadow, .pin-code .code, .numbers-pad button, .view .wrapper .message {
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.19);
}

/* line 35, ../sass/style.scss */
.hard-shadow, .clear-btn.-active, .numbers-pad button.-active {
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.38);
}

/* line 39, ../sass/style.scss */
.clear-btn {
  background: rgba(255, 255, 255, 0.08);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
  letter-spacing: 0.025em;
}
/* line 47, ../sass/style.scss */
.clear-btn[disabled] {
  color: rgba(255, 255, 255, 0.4);
}
/* line 51, ../sass/style.scss */
.clear-btn.-with-icon {
  position: relative;
  padding: 5px 7px;
}
/* line 55, ../sass/style.scss */
.clear-btn.-with-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 33px;
  width: 1px;
  background-color: #b1aba4;
  height: 100%;
}
/* line 65, ../sass/style.scss */
.clear-btn.-with-icon > .icon {
  padding-top: 1px;
  margin-right: 11px;
}
/* line 71, ../sass/style.scss */
.clear-btn.-active {
  background: rgba(255, 255, 255, 0.78);
  color: #555250;
  border-color: #545251;
  font-weight: 400;
}
/* line 78, ../sass/style.scss */
.clear-btn.-active:before {
  background-color: #545251;
}
/* line 82, ../sass/style.scss */
.clear-btn.-active.-with-icon > .icon {
  color: #5193B7;
}

/* line 88, ../sass/style.scss */
.container {
  margin: 30px auto;
}
/* line 91, ../sass/style.scss */
.container .dashboard {
  position: relative;
  padding-bottom: 45px;
  min-height: 573px;
  color: white;
  background: rgba(45, 45, 56, 0.55);
  border: 1px solid #545251;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.54);
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.54);
}
/* line 101, ../sass/style.scss */
.container .dashboard:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 17px;
  width: 100%;
  height: 1px;
  background-color: #545251;
}
/* line 112, ../sass/style.scss */
.container .dashboard > .main-header:nth-child(n+2) {
  border-left: 1px solid #545251;
}

/* line 119, ../sass/style.scss */
.items-list > .item:nth-child(n+2) {
  margin-left: 15px;
}

/* line 124, ../sass/style.scss */
.pin-code {
  padding-top: 14px;
}
/* line 127, ../sass/style.scss */
.pin-code .code {
  border: 1px solid #b1aba4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b1aba4;
}
/* line 133, ../sass/style.scss */
.pin-code .code .item {
  float: left;
  width: 20%;
  height: 39px;
  line-height: 39px;
  color: #4DC3B5;
  font-weight: bold;
}
/* line 141, ../sass/style.scss */
.pin-code .code .item.-active {
  background: rgba(255, 255, 255, 0.11);
}
/* line 146, ../sass/style.scss */
.pin-code .code > .item:nth-child(n+2) {
  border-left: 1px solid #b1aba4;
}
/* line 150, ../sass/style.scss */
.pin-code .code .icon {
  font-weight: lighter;
  width: 10%;
  color: white;
  background: rgba(255, 255, 255, 0.11);
}
/* line 156, ../sass/style.scss */
.pin-code .code .icon.-dynamic-icon {
  color: #4DC3B5;
}
/* line 160, ../sass/style.scss */
.pin-code .code .icon.-dynamic-icon > *.-success {
  color: #8dbf49;
}
/* line 164, ../sass/style.scss */
.pin-code .code .icon.-dynamic-icon > *.-error {
  color: #d69d43;
}

/* line 173, ../sass/style.scss */
.main-header {
  height: 68px;
  border-bottom: 1px solid #545251;
}
/* line 177, ../sass/style.scss */
.main-header.info {
  padding-top: 21px;
}
/* line 180, ../sass/style.scss */
.main-header.info .time {
  margin-left: 15px;
}
/* line 184, ../sass/style.scss */
.main-header.info .icon {
  color: #0AE09F;
}
/* line 189, ../sass/style.scss */
.main-header.led {
  padding-top: 21px;
}
/* line 192, ../sass/style.scss */
.main-header.led .light {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 12px;
  border: 1px solid;
  border-color: #316F5C;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #44756F;
  -moz-box-shadow: 0 1px 0 1px rgba(37, 38, 39, 0.15);
  -webkit-box-shadow: 0 1px 0 1px rgba(37, 38, 39, 0.15);
  box-shadow: 0 1px 0 1px rgba(37, 38, 39, 0.15);
  -moz-transition: ease-in-out 0.5s all;
  -o-transition: ease-in-out 0.5s all;
  -webkit-transition: ease-in-out 0.5s all;
  transition: ease-in-out 0.5s all;
}
/* line 205, ../sass/style.scss */
.main-header.led .light:after, .main-header.led .light:before {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  height: 100%;
}
/* line 215, ../sass/style.scss */
.main-header.led .light:before {
  left: 4px;
}
/* line 219, ../sass/style.scss */
.main-header.led .light:after {
  right: 4px;
}
/* line 223, ../sass/style.scss */
.main-header.led .light.on {
  border-color: #2b7f75;
  background: #4DC3B5;
  -moz-box-shadow: 0 2px 29px #4DC3B5;
  -webkit-box-shadow: 0 2px 29px #4DC3B5;
  box-shadow: 0 2px 29px #4DC3B5;
}
/* line 229, ../sass/style.scss */
.main-header.led .light.off {
  border-color: #A02727;
  background: #C34D4D;
  -moz-box-shadow: 0 2px 29px #E00A0A;
  -webkit-box-shadow: 0 2px 29px #E00A0A;
  box-shadow: 0 2px 29px #E00A0A;
}

/* line 238, ../sass/style.scss */
.projects {
  margin-top: 30px;
  display: inline-block;
  border-radius: 3px;
}

/* line 244, ../sass/style.scss */
.numbers-pad {
  direction: rtl;
  margin: 10px auto 0 auto;
  padding: 13px;
  width: 314px;
  height: 368px;
}
/* line 251, ../sass/style.scss */
.numbers-pad button {
  position: relative;
  width: 79px;
  height: 79px;
  margin: 7px 7px;
  font-weight: 700;
  color: #4DC3B5;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}
/* line 264, ../sass/style.scss */
.numbers-pad button.-double {
  width: 176px;
}
/* line 267, ../sass/style.scss */
.numbers-pad button.-double:after {
  width: 164px;
}
/* line 272, ../sass/style.scss */
.numbers-pad button.-active {
  background: rgba(255, 255, 255, 0.4);
}
/* line 276, ../sass/style.scss */
.numbers-pad button.-active:after {
  border-color: #8dbf49;
}
/* line 281, ../sass/style.scss */
.numbers-pad button.-delete {
  color: #d69d43;
}
/* line 284, ../sass/style.scss */
.numbers-pad button.-delete.-active:after {
  border-color: #d69d43;
}
/* line 289, ../sass/style.scss */
.numbers-pad button[disabled] {
  color: rgba(255, 255, 255, 0.4);
}
/* line 293, ../sass/style.scss */
.numbers-pad button:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  height: 67px;
  width: 67px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  padding: 13px 21px;
  border: 1px solid #b1aba4;
}

/* line 307, ../sass/style.scss */
.view {
  height: 486px;
  border-left: 1px solid #545251;
  padding: 30px 40px 50px 40px;
}
/* line 312, ../sass/style.scss */
.view .wrapper {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.08);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
  -moz-transition: ease-in-out 1s opacity;
  -o-transition: ease-in-out 1s opacity;
  -webkit-transition: ease-in-out 1s opacity;
  transition: ease-in-out 1s opacity;
}
/* line 321, ../sass/style.scss */
.view .wrapper.-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 325, ../sass/style.scss */
.view .wrapper .message {
  position: relative;
  padding: 8px 8px 8px 48px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 333, ../sass/style.scss */
.view .wrapper .message:after {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.11);
}
/* line 343, ../sass/style.scss */
.view .wrapper .message.-error {
  background: #d69d43;
}
/* line 349, ../sass/style.scss */
.view .wrapper .message.-success.-in {
  background: #8dbf49;
}
/* line 353, ../sass/style.scss */
.view .wrapper .message.-success.-out {
  background: #5193B7;
}
/* line 358, ../sass/style.scss */
.view .wrapper .message > .icon {
  position: absolute;
  left: 10px;
  top: 12px;
}
