/* Variables */
/* line 7, ../sass/style.scss */
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 15, ../sass/style.scss */
body {
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Roboto Condensed', arial, sans-serif;
  background-color: transparent;
}

/* line 22, ../sass/style.scss */
.clear-btn {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 28, ../sass/style.scss */
.clear-btn.-with-icon {
  position: relative;
  padding-left: 39px;
}
/* line 33, ../sass/style.scss */
.clear-btn.-active {
  background: rgba(255, 255, 255, 0.78);
  color: #555250;
  border-color: rgba(45, 45, 56, 0.35);
}
/* line 38, ../sass/style.scss */
.clear-btn.-active > .icon {
  border-right-color: rgba(45, 45, 56, 0.35);
}
/* line 43, ../sass/style.scss */
.clear-btn > .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 1px solid;
  border-right-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 38px;
}

/* line 56, ../sass/style.scss */
.led-light {
  padding: 27px 15px 15px 15px;
}
/* line 59, ../sass/style.scss */
.led-light .border {
  width: 26px;
  height: 15px;
  background: #4DC3B5;
  border: 1px solid #27A07B;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 29px #0AE09F;
  -webkit-box-shadow: 0px 2px 29px #0AE09F;
  box-shadow: 0px 2px 29px #0AE09F;
}

/* line 69, ../sass/style.scss */
#dashboard {
  margin: 60px auto;
  height: 550px;
  width: 90%;
  color: white;
  background: rgba(45, 45, 56, 0.52);
  border: 1px solid rgba(45, 45, 56, 0.35);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.54);
}

/* line 80, ../sass/style.scss */
.header-list {
  border-bottom: 1px solid rgba(45, 45, 56, 0.35);
  line-height: 38px;
}
/* line 84, ../sass/style.scss */
.header-list .item {
  height: 72px;
  padding: 15px;
  border-right: 1px solid #545251;
}
/* line 90, ../sass/style.scss */
.header-list .actions {
  padding-left: 30px;
  padding-right: 30px;
}
/* line 94, ../sass/style.scss */
.header-list .actions > .action:nth-child(n+2) {
  margin-left: 15px;
}

/* line 100, ../sass/style.scss */
.number-pad {
  width: 252px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  float: right;
  -moz-box-shadow: 4px 4px 30px 0px #252729;
  -webkit-box-shadow: 4px 4px 30px 0px #252729;
  box-shadow: 4px 4px 30px 0px #252729;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 109, ../sass/style.scss */
.digit {
  color: white;
  background: #606071;
  width: 70px;
  height: 70px;
  margin: 4px 4px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid #2D2D38;
  border-radius: 2px;
}
/* line 122, ../sass/style.scss */
.digit.block {
  width: 233px;
  height: 55px;
}
/* line 127, ../sass/style.scss */
.digit:hover {
  background: #3d3d48;
}
