/* Variables */
/* line 4, ../sass/style.scss */
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 12, ../sass/style.scss */
body {
  font-family: 'Roboto Condensed', arial, sans-serif;
}

/* line 17, ../sass/style.scss */
hr {
  background: #505059;
  height: 1px;
  display: block;
  border-bottom: 1px solid rgba(63, 63, 68, 0.72);
  border-top: 1px solid #555563;
}
/* line 24, ../sass/style.scss */
hr.no-margin {
  margin: 0px;
}

/* line 29, ../sass/style.scss */
.wrapper {
  margin: 20px auto;
  padding: 12px;
  height: 630px;
  border: 1px solid rgba(45, 45, 56, 0.26);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.05);
}
/* line 38, ../sass/style.scss */
.wrapper #dashboard {
  margin: 0px;
  padding: 15px;
  width: 100%;
  height: 100%;
  color: white;
  background: #2D2D38;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 47, ../sass/style.scss */
.wrapper #dashboard .box {
  border: 1px solid rgba(45, 45, 56, 0.65);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.05);
}
/* line 54, ../sass/style.scss */
.wrapper #dashboard .number-pad {
  width: 252px;
  padding: 4px;
  border: 1px solid #B1B1B1;
  float: right;
  -moz-box-shadow: 4px 4px 30px 0px #252729;
  -webkit-box-shadow: 4px 4px 30px 0px #252729;
  box-shadow: 4px 4px 30px 0px #252729;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 63, ../sass/style.scss */
.wrapper #dashboard .digit {
  color: white;
  background: #606071;
  width: 70px;
  height: 70px;
  margin: 4px 4px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-top: 1px solid #B1B1B1;
  border-bottom: 1px solid #2D2D38;
  border-radius: 2px;
}
/* line 76, ../sass/style.scss */
.wrapper #dashboard .digit.block {
  width: 233px;
  height: 55px;
}
/* line 81, ../sass/style.scss */
.wrapper #dashboard .digit:hover {
  background: #3d3d48;
}
