<div class="tracking-form-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Track your work</h2>
      </div>
      <div class="col-md-6 month-nav">
        <a ui-sref="dashboard.tracking-form({username: employee, year: prevYear, month: prevMonth, day: '01', id:'new'})"
           class="fa fa-caret-left"></a>
        <a ui-sref="dashboard.tracking-table({year: year, month: month})">{{ monthString }} - {{ year }}</a>
        <a ui-sref="dashboard.tracking-form({username: employee, year: nextYear, month: nextMonth, day: '01', id:'new'})"
          class="fa fa-caret-right"></a>
      </div>
      <div class="col-md-2">
        <button ng-click="toggleCalendar()" type="button" class="btn btn-info calendar-btn">{{calendarState}} Calendar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-if="!calendar">
        <table class="table table-striped table-hover track-item-table table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th ng-repeat="item in days">{{ item }}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="track-item">
            <th scope="row"> {{ name }}</th>
            <td ng-repeat="tracks in tracking">
              <ul class="list-unstyled">
                <li ng-repeat="track in tracks">
                  <a ui-sref="dashboard.tracking-form({username: track.employee, year: year, month: month, day: track.day, id: track.id})"
                     popover-trigger="mouseenter"
                     popover="{{ track.projectName }}"
                     class="{{ track.type }}">
                    {{ track.length }}
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12" ng-if="calendar">
        <ul>
          <li ng-repeat="event in eventSources.events">
            {{event.title}} starts in {{event.start}}
          </li>
        </ul>
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-push-1 col-md-pull-1">
        <form class="form-horizontal tracking-form" role="form" ng-submit="save(data)">
            <fieldset>
              <!-- Form Name -->
              <legend>{{ title }}</legend>

              <!-- Day type (inline) -->
              <div class="form-group">
                <label class="col-md-2 control-label">Day type</label>
                <div class="col-md-10">
                  <label class="radio-inline" for="daytype-0">
                    <input type="radio" ng-model="data.type" name="daytype" id="daytype-0" value="regular" checked="checked">
                    Regular
                  </label>
                  <label class="radio-inline" for="daytype-1">
                    <input type="radio" ng-model="data.type" name="daytype" id="daytype-1" value="sick">
                    Sick
                  </label>
                  <label class="radio-inline" for="daytype-2">
                    <input type="radio" ng-model="data.type"  name="daytype" id="daytype-2" value="vacation">
                    Vacation
                  </label>
                  <label class="radio-inline" for="daytype-3">
                    <input type="radio" ng-model="data.type"  name="daytype" id="daytype-3" value="miluim">
                    Miluim
                  </label>
                  <label class="radio-inline" for="daytype-4">
                    <input type="radio" ng-model="data.type"  name="daytype" id="daytype-4" value="convention">
                    Convention
                  </label>
                </div>
              </div>
              <div class="regular-day-wrapper" ng-if="data.type == 'regular'">

                <!-- Select Project -->
                <div class="form-group">
                  <label class="col-md-2 control-label" for="project">Project</label>
                  <div class="col-md-8">
                    <select id="project" ng-model="data.projectID" name="project" class="form-control"
                            ng-options="project.id as project.label for project in projects" ng-change="changeProject()"
                            ng-disabled="owner(data)">
                    </select>
                  </div>
                  <div class="col-md-2">
                    <a ng-if="!data.projectID" disabled class="btn btn-primary"><i class="fa fa-refresh"></i></a>
                    <a ng-if="data.projectID" class="btn btn-primary" ng-click="getPRs()"><i class="fa fa-refresh"></i></a>
                  </div>
                </div>

                <!-- Issues tracker -->
                <div class="form-group">
                  <label class="col-md-2 control-label">Issues</label>
                  <div class="col-md-8">
                    <div class="row issues-row" ng-if="data.issues" ng-repeat="(key, issue) in data.issues">
                      <div class="col-md-7">
                        <input ng-model="issue.label" name="issue-label" type="text" ng-required="true" placeholder="#1: example" class="form-control input-md issue-label">
                      </div>
                      <div class="col-md-3">
                        <select name="issues-hours" ng-model="issue.type" class="form-control" ng-required="true" id="issue-type"
                                ng-options="type.id as type.label for type in issueTypes">
                        </select>
                      </div>
                      <div class="col-md-2">
                        <input ng-model="issue.time" ng-change="updateTotalHours()" name="issue-time" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.50" ng-required="true" min="0" placeholder="8" class="form-control input-md issue-time">
                        <i ng-if="data.issues.length > 1" ng-click="removeIssue(key)" class="fa fa-minus-circle fa-2x"></i>
                        <i ng-if="$last && !newIssues.length" ng-click="addNewIssue()" class="fa fa-plus-circle fa-2x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Total hours-->
              <div class="form-group" ng-if="data.type == 'regular'">
                <label class="col-md-2 control-label">Total hours</label>
                <div class="col-md-8 total-hours">
                  <span>{{data.length}}</span>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-2 control-label" for="submit"></label>
                <div class="col-md-4">
                  <button id="submit" ng-disabled="creating" name="submit" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save</button>
                  <a ui-sref="dashboard.tracking-form({username: data.employee, year: year, month: month, day: day, id: 'new'})" class="btn btn-success"><i class="fa fa-plus-circle"></i> New</a>
                  <a ng-click="remove(data)" ng-if="owner(data)" class="btn btn-danger"><i class="fa fa-times"></i> Remove</a>

                  <div ng-class="messageClass" class="alert alert-dismissible" role="alert" ng-show="message != ''" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                  </div>
                </div>
              </div>

            </fieldset>
          </form>
      </div>
    </div>
    <div class="row">
      <div ui-view></div>
      <pre ng-if="debug">
        Employee: {{ data.employee }}
        Project ID: {{ data.projectID }}
        Track ID: {{ data.id }}
        Length: {{ data.length }}
        Day: {{ data.day }}
        Date: {{ data.date }}
      </pre>
    </div>
  </div>
</div>
