<div class="tracking-form-page">
  <div class="container">
    <div class="row">
      <h2>Track your work</h2>
      <div class="col-md-12">
        <table class="table table-striped table-hover track-item-table table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th ng-repeat="item in days">{{ item }}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="track-item">
            <th scope="row"> {{ name }}</th>
            <td ng-repeat="tracks in tracking">
              <ul class="list-unstyled">
                <li ng-repeat="track in tracks">
                  <a ui-sref="dashboard.tracking-form({username: track.employee, year: year, month: month, day: track.day, id: track.id})"
                     popover-trigger="mouseenter"
                     popover="{{ track.projectName }}"
                     class="{{ track.type }}">
                    {{ track.length }}
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form" ng-submit="save(data)">
            <fieldset>
              <!-- Form Name -->
              <legend>{{ title }}</legend>

              <!-- Day type (inline) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="daytype">Day type</label>
                <div class="col-md-4">
                  <label class="radio-inline" for="daytype-0">
                    <input type="radio" ng-model="data.type" name="daytype" id="daytype-0" value="regular" checked="checked">
                    Regular
                  </label>
                  <label class="radio-inline" for="daytype-1">
                    <input type="radio" ng-model="data.type" name="daytype" id="daytype-1" value="sick">
                    Sick
                  </label>
                  <label class="radio-inline" for="daytype-2">
                    <input type="radio" ng-model="data.type"  name="daytype" id="daytype-2" value="vacation">
                    Vacation
                  </label>
                  <label class="radio-inline" for="daytype-3">
                    <input type="radio" ng-model="data.type"  name="daytype" id="daytype-3" value="miluim">
                    Miluim
                  </label>
                </div>
              </div>
              <div class="regular-day-wrapper" ng-show="data.type == 'regular'">

                <!-- Select Project -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="project">Project</label>
                  <div class="col-md-4">
                    <select id="project" ng-model="data.projectID" name="project" class="form-control"
                            ng-options="project.id as project.label for project in projects">
                    </select>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="timelength">Hours</label>
                  <div class="col-md-4">
                    <input id="timelength" ng-model="data.length" name="length" type="text" placeholder="example 8" class="form-control input-md">
                  </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="description">Description</label>
                  <div class="col-md-4">
                    <textarea id="description"  class="form-control" ng-model="data.description" name="description"></textarea>
                  </div>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                  <button id="submit" ng-disabled="creating" name="submit" type="submit" class="btn btn-primary">Save</button>
                  <a ui-sref="dashboard.tracking-form({username: data.employee, year: year, month: month, day: day, id: 'new'})" class="btn btn-success">New</a>

                  <div ng-class="messageClass" class="alert alert-dismissible" role="alert" ng-show="message != ''" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                  </div>
                </div>
              </div>

            </fieldset>
          </form>
      </div>
      <div ui-view></div>
      <pre>
        Employee: {{ data.employee }}
        Project ID: {{ data.projectID }}
        Track ID: {{ data.id }}
        Length: {{ data.length }}
        Day: {{ data.day }}
        Date: {{ data.date }}
      </pre>
    </div>
  </div>
</div>
