<div class="tracking-table-page">
  <div class="container">
    <div class="row">
      <h2>
        <div class="col-md-4">
          <a ui-sref="dashboard.tracking-table({year: prevYear, month: prevMonth})"
             class="fa fa-caret-left"></a>
        </div>
        <div class="col-md-4 text-center">
         {{ month }} - {{ year }}
        </div>
        <div class="col-md-4 text-right">
          <a ui-sref="dashboard.tracking-table({year: nextYear, month: nextMonth})"
           class="fa fa-caret-right"></a>
        </div>
      </h2>
    </div>
    <div class="row">
      <table class="table table-striped table-hover track-item-table table-responsive">
        <thead>
          <tr class="info">
            <th>#</th>
            <th ng-repeat="item in days">{{ item }}</th>
            <th>Sum</th>
            <th>Total Sum</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name, employeeRow) in employeeRows" class="track-item">
            <th scope="row"> {{ name }}</th>
            <td ng-repeat="(key, tracks) in employeeRow" ng-if="key != 'sum' && key != 'totalSum'">
              <ul class="list-unstyled">
                <li ng-repeat="track in tracks">
                  <a ui-sref="dashboard.tracking-form({username: track.employee, year: year, month: month, day: track.day, id: track.id})"
                     popover-trigger="mouseenter"
                     popover="{{ track.day }} : {{ track.projectName }}"
                     class="{{ track.type }}">
                    {{ track.length }}
                  </a>
                </li>
              </ul>
            </td>
            <td>
              <ul class="list-inline">
                <li ng-repeat="(project, sum) in employeeRow.sum">
                  <a href="#"
                     class="summary"
                     popover-trigger="mouseenter"
                     popover="{{ project }}">
                    {{ sum }}
                  </a>
                </li>
              </ul>
            </td>
            <td>{{ employeeRow.totalSum }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <h2>Tracking summary</h2>
      <table class="table table-striped table-hover track-item-table table-condensed">
        <thead>
          <tr class="info">
            <th>Project</th>
            <th>Hours</th>
            <th>Days</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in trackingProject" ng-if="project.totalTracking.hour != 0">
            <th>{{ project.label }} </th>
            <td>{{ project.totalTracking.hour }}</td>
            <td>{{ project.totalTracking.day }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ui-view></div>
<script>
  // Fix header for table.
  $('table').stickyTableHeaders();
</script>
