$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import 'spinner.scss';


body{
  font-family: Arial, sans-serif;
}

// http://paletton.com/#uid=c0u3i0X000kllll8nAaeRrxrPf9BW8X
$color1: #AA6C39;
$color1_light: #DBA476;
$color2: #AA8439;
$color2_light: #AA8439;
$color3_dark: #470000;
$color3: #AA3939;
$color3_light: #DB7676;
$color3_lighter: #FFBCBC;
$color4: #226666;
$color4_light: #478484;
$color5: #4784B1;
.tracking-table-page {

  h2 {

    a {

      &:hover {
      text-decoration: none;
      }

      &:active {
        color: red;
      }
    }

  }


  .track-item-table {
    font-size: 16px;

    li a {
      height: 36px;
    }

    td {
      white-space: nowrap;
    }

    th {
      padding: 8px 0 0 8px;
    }
  }

  .track-item {

    td {
      padding: 10px 0 0 0;
      width: 28px;
    }

    a {
      padding: 10px;
      color: $color3_dark;
    }

    .empty {
      background-color: white;
    }

    .regular {
      background-color: $color4_light;

      a {
        color: $color4;
      }
    }

    .sick {
      background-color: $color3;
    }

    .vacation {
      background-color: $color3_light;
    }

    .holiday {
      background-color: $color1_light;
    }

    .funday, .special {
      background-color: $color2_light;
    }

    .miluim {
      background-color: $color2_light;
    }

    .convention {
      background-color: $color4;
    }

    .weekend {
      background-color: $color1_light;
    }

    .summary {
      background-color: $color5;
    }
  }
}


.tracking-page {

  .axis {

    path, line {
      fill: none;
      stroke: #b6b6b6;
      shape-rendering: crispEdges;
    }
  }

  .tick text {
    fill: #999;
  }

  g.journal {

    circle {
      fill: rgb(230, 15, 13);

      &.regular {
        fill: rgb(230, 185, 213);
      }

      &.sick {
        fill: rgb(40, 185, 13);
      }

      &.vacation {
        fill: rgb(100, 00, 13);
      }

      &.holiday {
        fill: rgb(00, 85, 13);
      }

      &.funday {
        fill: rgb(200, 185, 13);
      }

      &.miluim {
        fill: rgb(100, 85, 13);
      }

      &.convention {
        fill: rgb(100, 85, 130);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  text.label {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  text.value {
    font-size: 12px;
    font-weight: bold;
  }
}


.tracking-form-page {

  .month-nav {
    font-size: 30px;

    a:hover {
      text-decoration: none;
    }
  }
}
