svg {
    overflow: scroll;
    height: 1000px;
    width: 100%;
}
.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}
.edgeLabel rect {
    fill: #fff;
}
.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}