@import "compass/css3";
@import "mixin";

// abstract blur background
// https://www.google.co.il/search?q=abstract+blur+background&espv=2&biw=1920&bih=1094&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI0p60mbuKyQIVTNsaCh0PugO8#imgrc=_

html {
  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto Condensed', arial, sans-serif;
  background-color: transparent;
}

hr {
  background: #505059;
  height: 1px;
  display: block;
  border-bottom: 1px solid rgba(63, 63, 68, 0.72);
  border-top: 1px solid #555563;

  &.no-margin {
    margin: 0px;
  }
}

.clear-btn {
  font-size: 18px;
  font-weight: lighter;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid $light;
  @include border-radius(2px);
  padding: 8px;
}

.led-indicator {
  display: inline-block;
}

#dashboard {
  margin: 60px auto;
  height: 550px;
  width: 90%;
  color: white;
  background: rgba(45, 45, 56, 0.52);
  border: 1px solid rgba(45, 45, 56, 0.35);
  @include border-radius(4px);
  @include box-shadow(0px 6px 11px 0px rgba(0, 0, 0, 0.54));

  .actions {
    border-right: 1px solid #545251;
    display: inline-block;
    padding: 15px;
  }

  .main-header {
    border-bottom: 1px solid $light;
    border-bottom: 1px solid rgba(45, 45, 56, 0.35);
  }

  .box {
    border: 1px solid rgba(45, 45, 56, 0.65);
    @include border-radius(3px);
    background: rgba(255, 255, 255, 0.17);
    @include box-shadow(0px 7px 2px 0px rgba(0, 0, 0, 0.05));
  }

  .number-pad {
    width: 252px;
    padding: 4px;
    border: 1px solid $light;
    float: right;
    @include box-shadow(4px 4px 30px 0px #252729);
    @include border-radius(3px);
  }

  .digit {
    color: white;
    background: $light-gray;
    width: 70px;
    height: 70px;
    margin: 4px 4px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-top: 1px solid $light;
    border-bottom: 1px solid $dark-gray;
    border-radius: 2px;

    &.block {
      width: 233px;
      height: 55px;
    }

    &:hover {
      background: darken($light-gray, 15%);
    }
  }
}





