@import "compass/css3";
@import "mixin";

// abstract blur background
// https://www.google.co.il/search?q=abstract+blur+background&espv=2&biw=1920&bih=1094&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI0p60mbuKyQIVTNsaCh0PugO8#imgrc=_

html {
  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Roboto Condensed', arial, sans-serif;
  background-color: transparent;
}

.clear-btn {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid;
  border-color: $light;
  @include border-radius(4px);

  &.-with-icon {
    position: relative;
    padding-left: 39px;
  }

  &.-active {
    background: rgba(255, 255, 255, 0.78);
    color: #555250;
    border-color: $border-dark;

    >.icon {
      border-right-color: $border-dark;
    }
  }

  >.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid;
    border-right-color: $light;
    height: 100%;
    padding-right: 6px;
    padding-left: 6px;
    line-height: 38px;
  }
}

.led-light {
  padding: 27px 15px 15px 15px;

  .border {
    width: 26px;
    height: 15px;
    background: #4DC3B5;
    border: 1px solid #27A07B;
    @include border-radius(3px);
    @include box-shadow(0px 2px 29px #0AE09F);
  }
}

#dashboard {
  margin: 60px auto;
  height: 550px;
  width: 90%;
  color: white;
  background: rgba(45, 45, 56, 0.52);
  border: 1px solid $border-dark;
  @include border-radius(4px);
  @include box-shadow(0px 6px 11px 0px rgba(0, 0, 0, 0.54));
}

.header-list {
  border-bottom: 1px solid $border-dark;
  line-height: 38px;

  .item {
    height: 72px;
    padding: 15px;
    border-right: 1px solid #545251;
  }

  .actions {
    padding-left: 30px;
    padding-right: 30px;

    >.action:nth-child(n+2) {
      margin-left: 15px;
    }
  }
}

.number-pad {
  width: 252px;
  padding: 4px;
  border: 1px solid $light;
  float: right;
  @include box-shadow(4px 4px 30px 0px #252729);
  @include border-radius(3px);
}

.digit {
  color: white;
  background: $light-gray;
  width: 70px;
  height: 70px;
  margin: 4px 4px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-top: 1px solid $light;
  border-bottom: 1px solid $dark-gray;
  border-radius: 2px;

  &.block {
    width: 233px;
    height: 55px;
  }

  &:hover {
    background: darken($light-gray, 15%);
  }
}



